<h2 mat-dialog-title>Submit a project to the challenge</h2>

<mat-dialog-content class="dialog-content">
  <button mat-stroked-button color="primary" class="full-width large-btn" (click)="createNewProject()">
    <mat-icon>add_circle</mat-icon>
    Create new project
  </button>

  <div class="separator">
    <span>Or</span>
  </div>

  <button mat-stroked-button color="accent" class="full-width large-btn" (click)="navigateToMyProjects()">
    <mat-icon>folder_shared</mat-icon>
    Select existing project
  </button>
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>