<div class="container">
    @if (loading()) {
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
    } @else {
    @let proj = project();
    @if (proj) {
    <app-project-header [projectInput]="proj"></app-project-header>
<div class="materials-section">

  <div class="materials-number">
    <span>Supplies</span>
  </div>

  @if (getMaterialsLines().length > 0) {
    <ul class="materials-list">
      @for (line of getMaterialsLines(); track line) {
        <li>{{ line }}</li>
      }
      </ul>
  } @else {
    <p class="no-materials">לא צוינו חומרים לפרויקט זה</p>
  }
</div>
   @defer (on viewport) {
    <app-project-steps [steps]="proj.steps || []"></app-project-steps>
    } @placeholder {
    <div class="placeholder">Loading Steps...</div>
    }

    @defer (on viewport) {
    <app-project-comments [projectId]="proj.id"></app-project-comments>
    } @placeholder {
    <div class="placeholder">Loading comments...</div>
    }
    } @else {
    <p>Project not found</p>
    }
    }
</div>