<div class="auth-wrapper">
  <mat-card class="auth-card">
    <mat-card-title>הרשמה</mat-card-title>

    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
        
        <mat-form-field appearance="outline">
          <mat-label>שם משתמש</mat-label>
          <input matInput formControlName="userName" required>
          
          @if (signupForm.get('userName')?.hasError('minlength')) {
            <mat-error>שם המשתמש חייב להיות לפחות 3 תווים</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>אימייל</mat-label>
          <input matInput formControlName="mail" type="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>סיסמה</mat-label>
          <input matInput formControlName="password" type="password" required>
          
          @if (signupForm.get('password')?.hasError('minlength')) {
            <mat-error>הסיסמה חייבת להיות לפחות 6 תווים</mat-error>
          }
        </mat-form-field>

        @if (errorMessage()) {
          <p class="error-message">{{ errorMessage() }}</p>
        }

        <button mat-flat-button color="accent" type="submit" [disabled]="signupForm.invalid || isLoading()">
          הירשם
        </button>
        
      </form>

    </mat-card-content>

    <mat-card-footer class="auth-footer">
      <p>כבר רשום? <a routerLink="/sign-in">התחבר עכשיו</a></p>
    </mat-card-footer>
  </mat-card>
</div>