/* shared/components/auth-button/auth-button.component.scss */
::ng-deep .mat-mdc-menu-panel {
  margin-top: 8px;
}

::ng-deep .mat-mdc-menu-item {
  font-size: 15px;
}

button {
  .mat-icon {
    margin-right: 8px;
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}