<mat-toolbar color="primary" class="header-toolbar">

  <a routerLink="/" class="logo" routerLinkActive="active">
    <mat-icon>build</mat-icon>
    <span class="logo-text">InstructaBuild</span>
  </a>
    <span class="spacer"></span>

  <a mat-button routerLinkActive="active"> About Us</a>

  <span class="spacer"></span>

  <a mat-button routerLink="/projects-list" routerLinkActive="active">
    Projects
  </a>

  <a mat-button routerLink="/challenges" routerLinkActive="active">
    Challenges
  </a>


  <!-- הקישור החדש לצ'אט DIY – יפה ומקצועי -->
  <a mat-button routerLink="/diy-question" routerLinkActive="active">
     AI Assistant
  </a>
</mat-toolbar>