<div class="comments-wrapper">
  
  <h2 class="comments-title">
    Discussion <span class="count">({{ comments().length }})</span>
  </h2>

  <!-- Form -->
  <div class="form-container">
    <app-comment-form [projectId]="projectId" (commentAdded)="onCommentAdded()"></app-comment-form>
  </div>

  <!-- List -->
  <div class="comments-list">
    @if (loading()) {
      <p class="loading-text">Loading comments...</p>
    } @else if (comments().length > 0) {
      
      @for (comment of comments(); track comment.id) {
        <div class="comment-item">
          
          <!-- Avatar -->
          <div class="comment-avatar">
            @if (comment.user.profilePicture) {
              <img [src]="'data:image/jpeg;base64,' + comment.user.profilePicture" class="c-avatar">
            } @else if (comment.user.profilePicturePath) {
              <img [src]="'http://localhost:8080' + comment.user.profilePicturePath" class="c-avatar">
            } @else {
              <div class="c-avatar placeholder" [style.background-color]="getColor(comment.user.userName)">
                {{ getInitial(comment.user.userName) }}
              </div>
            }
          </div>

          <!-- Content -->
          <div class="comment-content">
            <div class="c-header">
              <strong class="c-name">{{ comment.user.userName }}</strong>
              <span class="c-date">{{ comment.createdAt }}</span>
            </div>
            <p class="c-text">{{ comment.content }}</p>
          </div>

        </div>
      }

    } @else {
      <div class="empty-state">
        <p>No comments yet. Be the first to say something!</p>
      </div>
    }
  </div>
</div>