<div class="comments-section">
  <h2>תגובות</h2>

  <app-comment-form [projectId]="projectId" (commentAdded)="onCommentAdded()"></app-comment-form>

  @if (loading()) {
    <p>Loading comments...</p>
  } @else if (comments().length > 0) {
    @for (comment of comments(); track comment.id) {
    <div class="comment">
      <div class="user">
        @if (comment.user.profilePicture) {
            <img [src]="'data:image/jpeg;base64,' + comment.user.profilePicture" class="avatar">
        } 
        @else if (comment.user.profilePicturePath) { 
            <img [src]="'http://localhost:8080' + comment.user.profilePicturePath" class="avatar">
        } 
        @else {
            <div class="avatar-placeholder" [style.background-color]="getColor(comment.user.userName)">
              {{ getInitial(comment.user.userName) }}
            </div>
        }
        <strong>{{ comment.user.userName }}</strong>
      </div>
      <p>{{ comment.content }}</p>
      <small>{{ comment.createdAt }}</small>
    </div>
}
  } @else {
    <p class="no-comments">"No comments yet – be the first to respond!"</p>
  }
</div>