<div class="profile-container">

  <!-- The Header Component we just designed -->
  <app-profile-header></app-profile-header>

  <!-- The Tabs Section -->
  <div class="content-tabs-card">
    <mat-tab-group class="creata-tabs" mat-stretch-tabs="false" animationDuration="300ms">
      
      <mat-tab label="My Projects">
        <div class="tab-body">
          <app-my-projects-tab></app-my-projects-tab>
        </div>
      </mat-tab>

      <mat-tab label="Favorites">
        <div class="tab-body">
          <app-favorites-tab></app-favorites-tab>
        </div>
      </mat-tab>

      <mat-tab label="Drafts">
        <div class="tab-body">
          <app-drafts-tab></app-drafts-tab>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
  
</div>