<!-- src/app/profile/profile-page/profile-page.component.html -->
<div class="profile-page">

  <!-- ה-header היפה עם האווטאר הגדול -->
  <app-profile-header></app-profile-header>

  <!-- הלשוניות מתחת להדר  -->
  <mat-tab-group class="profile-tabs" mat-stretch-tabs="false" animationDuration="300ms">

    <mat-tab label="My projects">
      <app-my-projects-tab></app-my-projects-tab>
    </mat-tab>

    <mat-tab label="Favorites">
      <app-favorites-tab></app-favorites-tab>
    </mat-tab>
    <mat-tab label="Drafts">
      <app-drafts-tab></app-drafts-tab>
    </mat-tab>
  </mat-tab-group>
</div>