<div class="auth-wrapper">
  <mat-card class="auth-card">
    <mat-card-title>התחברות</mat-card-title>
    
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        
        <mat-form-field appearance="outline">
          <mat-label>אימייל</mat-label>
          <input matInput formControlName="identifier" type="email" required>
          <mat-error *ngIf="loginForm.get('identifier')?.hasError('email')">אנא הזן אימייל תקין</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>סיסמה</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>

        @if (errorMessage()) {
          <p class="error-message">{{ errorMessage() }}</p>
        }

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading()">
          התחבר
        </button>
        
      </form>
      
      <mat-divider class="divider"></mat-divider>

      <button mat-stroked-button class="google-btn" (click)="authService.signInWithGoogle()">
        <mat-icon>public</mat-icon>
        התחבר עם גוגל
      </button>

    </mat-card-content>
    
    <mat-card-footer class="auth-footer">
      <p>עדיין לא רשום? <a routerLink="/sign-up">צור חשבון</a></p>
    </mat-card-footer>
  </mat-card>
</div>