<!-- shared/components/auth-button/auth-button.component.html -->
@let user = auth.user$ | async;

@if (user; as user) {
  <button mat-raised-button color="primary" [matMenuTriggerFor]="profileMenu">
    <mat-icon>person</mat-icon>
    {{ user.userName }}
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="auth.logout()">
      <mat-icon>logout</mat-icon>
      Log out
    </button>
  </mat-menu>
} @else {
  <button mat-raised-button color="accent" (click)="goToLogin()">
    <mat-icon>login</mat-icon>
    Sign in / Sign up
  </button>
}